* {
  box-sizing: border-box;
}

.hold{
  position: fixed;
  z-index: 1;
}

.about {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: url("../images/-10.png");
  z-index: -10;
}

.logo1{
  position: absolute;
  top:40%;
  left:50%;
  max-height: 45vh;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#logo2{
  position: absolute;
  top:40%;
  left:50%;
  max-height: 45vh;
  transform: translate(-50%, -50%);
  z-index: -1;
}


.logo3{
  position: absolute;
  max-height: 2vh;
  top: 80%;
  left:50%;
  transform: translate(-50%, 0%);
}

.sponsor{
  background: linear-gradient(#000000, #0e0d0d);
}

.events{
  background: linear-gradient(#000000, #0e0d0d);
}

.contact{
  background: linear-gradient(#000000, #0e0d0d);
}

.sitemap{
  background: linear-gradient(#000000, #0e0d0d);
}

.top{
  position: relative;
  text-align: center;
  vertical-align: center;
}

a {
  color: rgba(255, 255, 255, 0.6);
}

a:hover{
  color: white;
  text-decoration: none;
}

.fa {
  padding: 5px;
  font-size: 70px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#_about{
  color: white;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navcss{
  position: fixed;
  right: 5%;
  top: 5%;
}

#countdown1{
  position: fixed;
  top:70%;
  left:50%;
  transform: translate(-50%);
  font-family: 'ZingRustD2Demo-Base';
  font-size: 5vh;
}