
@font-face {
  font-family: 'ZingRustD2Demo-Base';
  src: url('ZingRustD2Demo-Base.eot?#iefix') format('embedded-opentype'),  url('ZingRustD2Demo-Base.otf')  format('opentype'),
	     url('ZingRustD2Demo-Base.woff') format('woff'), url('ZingRustD2Demo-Base.ttf')  format('truetype'), url('ZingRustD2Demo-Base.svg#ZingRustD2Demo-Base') format('svg');
  font-weight: normal;
  font-style: normal;
}
